@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    color:#fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{
    display: flex;
}
.container{
    width: 30%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}
#home{
    width: 30px;
    height: 30px;
    padding-left: 20px;
    padding-top: 20px;
}
.grid{
    width: 70%; 
    display: grid;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4,120px);
    grid-template-areas: 
    "titulo titulo"
    "pin local"
    "call telefone"
    "mail email";
    background-color: rgba(255,255,255,0.07);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: -4px -4px 11px #c8c2c2a2,
               4px 4px 9px rgba(147, 149, 151, 0.871);
}
.titulo{
    grid-area: titulo;
    padding-top: 50px;
    padding-left: 110px;
}
#call{
    grid-area:call ;
    width: 30px;
    height:30px;
    padding-left: 20px;
}
.telefone{
    grid-area:telefone;

}
#pin{
    grid-area:pin;
    width: 30px;
    height:30px;
    padding-left: 20px;

}
.local{
    grid-area:local;

}
#mail{
    grid-area:mail;
    width: 30px;
    height:30px;
    padding-left: 20px;

}
.email{
    grid-area:email;

}
.background{
    width: 70%;
    background-image: url(https://i.pinimg.com/originals/02/12/08/02120811ec264ca35fe8f4b5825b60d7.jpg);
}
@media(max-width:768px){
    .background{
        display: none;
    }
    .container{
        width: 100%;
        background-image: url(https://i.pinimg.com/originals/02/12/08/02120811ec264ca35fe8f4b5825b60d7.jpg);
        background-size: cover;
        background-position: 18%;
    }
    .titulo{
        grid-area: titulo;
        padding: 45px 40%;
    }    
    .grid{
        grid-template-rows: repeat(4,110px);
        width: 300px;
        top:60%;
    }
}